#cluster-container{

}
//.panel-heading{
//  background-color: #9cb4c5;
//  padding-bottom: 0;
//  padding-top: 0;
//}
#cluster-container label{
  margin-bottom: 0px;
 // font-weight: 600;
}
#cluster-container .icheckbox_square-blue{
  //margin-top: -5px !important;
  margin-left: 10px !important;
}
#cluster-container .heading-icon{
 // margin-top: 5px;
  font-size: 20px;
  margin-top: 6px;
}
.cluster-heading-font{
  font-size: 20px;
 // margin-top: 10px;
 // margin-bottom: 10px;

}

.icheckbox_square-blue {
  background-position: -24px 0;
}
