
<div id="cluster-container">
    <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
            <h2>Cluster Grid </h2>



            <div class="widget-toolbar hidden-phone">
                <div class="smart-form">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox">
                        <i></i>Warm Up</label>
                </div>

            </div>
            <div class="widget-toolbar hidden-phone">
                <div class="smart-form">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox">
                        <i></i>Sum</label>
                </div>

            </div>
            <div class="widget-toolbar hidden-phone">
                <div class="smart-form">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox">
                        <i></i>All Processes</label>
                </div>

            </div>
        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

                <div tiles-grid="gridOptions"></div>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>


</div>

