SECURITY_GROUP_IDS=sg-0f43ba62
IMAGE_ID=ami-5c730034
INSTANCE_TYPE=m3.large
KEY_NAME=ImpalaToGo
PRIVATE_KEY=ImpalaToGo.pem
SECURITY_GROUP=impala2go-slave
LOG_DIR=/var/log/impalatogo
if [ ! -d $LOG_DIR ];
then
        mkdir -p $LOG_DIR
fi
IMPALA_TO_GO_CACHE=/var/cache/impala2go
CLUSTER_VAR_DIR=${IMPALA_TO_GO_CACHE}/cluster/$BATCH_ID
KNOWN_CLUSTERS_DIR=${IMPALA_TO_GO_CACHE}/clusters
mkdir -p $CLUSTER_VAR_DIR
mkdir -p $KNOWN_CLUSTERS_DIR
touch $KNOWN_CLUSTERS_DIR/$BATCH_ID
TEMP_FILE=/tmp/$BATCH_ID

LOCK_FILE=/tmp/${BATCH_ID}.lock

#configuration for SSH connectoin to cluster nodes
SSH_KNOWN_HOSTS_FILE=$CLUSTER_VAR_DIR/known_hosts
SSH_PARAMS="-t -o UserKnownHostsFile=$SSH_KNOWN_HOSTS_FILE -i $PRIVATE_KEY"

#DRY_RUN=--dry-run

function wait_lock(){
	while [ -f $LOCK_FILE ]; 
	do 
		sleep 1
	done
}

function take_lock(){
	wait_lock
	touch $LOCK_FILE
}

function release_lock(){
	rm -f $LOCK_FILE
}
