AVAILABILITY_ZONE=us-east-1a
SECURITY_GROUP_IDS=sg-65c13808
IMAGE_ID=ami-16d8bf7e
INSTANCE_TYPE=m3.large
KEY_NAME=resize-1
PRIVATE_KEY=${KEY_NAME}.pem
SECURITY_GROUP=impala2go-slave
LOG_DIR=/var/log/impala2go
if [ ! -d $LOG_DIR ];
then
        mkdir -p $LOG_DIR
fi
CLUSTER_VAR_DIR=/var/cache/impala2go/cluster/$BATCH_ID
KNOWN_CLUSTERS_DIR=/var/cache/impala2go/clusters/
mkdir -p $CLUSTER_VAR_DIR
#List of clusters, to know what to delete afterwards
if [ ! -z $KNOWN_CLUSTERS_DIR -a -d $KNOWN_CLUSTERS_DIR ]; 
then
	mkdir -p $KNOWN_CLUSTERS_DIR
fi
touch $KNOWN_CLUSTERS_DIR/$BATCH_ID
TEMP_FILE=/tmp/$BATCH_ID

LOCK_FILE=/tmp/${BATCH_ID}.lock

#configuration for SSH connectoin to cluster nodes
SSH_KNOWN_HOSTS_FILE=$CLUSTER_VAR_DIR/known_hosts
SSH_PARAMS="-o UserKnownHostsFile=$SSH_KNOWN_HOSTS_FILE -i $PRIVATE_KEY"

#DRY_RUN=--dry-run

function wait_lock(){
	while [ -f $LOCK_FILE ]; 
	do 
		sleep 1
	done
}

function take_lock(){
	wait_lock
	touch $LOCK_FILE
}

function release_lock(){
	rm -f $LOCK_FILE
}
